<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 注解扫描 -->
    <context:component-scan base-package="com.service.impl"></context:component-scan>
    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath:db.properties,classpath:field.properties"/>
    
    <!-- 数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="${jdbc.driver}"></property>
    	<property name="url" value="${jdbc.url}"></property>
    	<property name="username" value="${jdbc.username}"></property>
    	<property name="password" value="${jdbc.password}"></property>
    </bean>
    <!-- SqlSessionFactory -->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
    	<property name="dataSource" ref="dataSource"></property>
    	<property name="typeAliasesPackage" value="com.pojo"></property>
    </bean>
    <!-- 扫描器 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
    	<property name="basePackage" value="com.mapper"></property>
    	<!-- <property name="sqlSessionFactory" value="factory"></property> -->
    	<!-- 自动注入优先级高，如果上面的bean id叫SqlSessionFactory，会自动注入，会先把他实例化，导致找不到${jdbc.driver} -->
    	<!-- sqlSessionFactory是类属性，加载到这里也会把factory给实例化，导致找不到${jdbc.driver} -->
    	<property name="sqlSessionFactoryBeanName" value="factory"></property>
    </bean>
	
	<bean id="userService" class="com.service.impl.UsersServiceImpl">
		<property name="usersMapper" ref="usersMapper"></property>
	</bean>
	
	<bean id="mybefore" class="com.advice.Mybefore"></bean>
	<bean id="myafter" class="com.advice.Myafter"></bean>
	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
	<aop:config>
		<aop:pointcut expression="execution(* com.service.impl.UsersServiceImpl.login(..))" id="mypoint"/>
		<aop:advisor advice-ref="mybefore" pointcut-ref="mypoint"/>
		<aop:advisor advice-ref="myafter" pointcut-ref="mypoint"/>
	</aop:config>
</beans>